!!! 5
%html{lang: 'en'}
  %head
    %title So Many Feeds - #{@title}
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1'}
    - jammit :js, :head
    - jammit :css, :manager
    - google_web_fonts
    - unless development?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24449407-2']);
        _gaq.push(['_trackPageview']);
  %body{class: @controller || 'home'}
    %header.main
      %hgroup.main
        %h1 So Many Feeds
        - if no_cache? && logged_in?
          %h2 Welcome, #{user.to_label}
        - else
          %h2 A simple homepage
      %hgroup.page
        %h1
          = @title
      %nav.main
        %ul
          %li
            - main_menu_link 'home', '/'
          %li
            - main_menu_link 'my account', '/my-account'
          %li
            - main_menu_link 'my feeds', '/my-feeds'
          %li
            - main_menu_link 'my site', '/my-site'
          %li
            - main_menu_link 'my profile', '/my-profile'
          - if no_cache? && logged_in?
            %li
              - main_menu_link 'logout', '/logout'
    %section.main
      = yield
    - jammit :js, :manager, async: true
    :javascript
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
