%form.password{action: '/password/forgot', method: 'POST'}

  %fieldset
    %dl
      %dt
        %label{for: 'email'} Email
      %dd
        %input{type: 'text', name: 'email', id: 'email'}

    %input{type: 'submit', value: 'send instructions', class: 'button'}
