header.main {
  color: #fff;
  width: 96%;
  padding: 2%;
  position: fixed;
  z-index: 5;

  background-color: rgba(255,255,255,0.5);
  background: -webkit-gradient(linear, left 86%, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  background: -moz-linear-gradient(top, rgba(255,255,255,1), 86%, rgba(255,255,255,0));
}

  hgroup.main {
    background-color: #2A4C66;
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }
    header.main h1, header.main h2 {
      padding: .1em 0;
      font-size: 300%;
      text-align: center;
    }
    header.main h2 { font-size: 180%; padding: 0 0 .6em; }

  header.main a:link, header.main a:visited { color: #444; }
  header.main a:active, header.main a:hover { color: #000; }

header.main nav {
  padding: 0;
  background-color: #40627C;
  text-align: center;

  position: relative;
}

  header.main nav ul {
    margin: 0 auto;
  }

    header.main nav li {
      display: inline-block;
      position: relative;
    }

    #loading {
      display: none;
      width: 31px;
      height: 31px;
      position: absolute;
      top: -20px;
      left: -40px;
    }

      header.main nav a:link,
      header.main nav a:active,
      header.main nav a:visited,
      header.main nav a:hover {
        display: inline-block;
        padding: 1em 2em .5em;
        border-bottom: .5em solid transparent;
        color: #fff;
      }

      header.main nav a.selected { border-color: #A8CB17; }

      header.main nav a:hover,
      header.main nav a.selected:hover  {
        background-color: #326E9C;
        border-color: #326E9C;
      }
      header.main nav a.selected:hover  {
        border-color: #fff;
      }

      header.main nav a:active,
      header.main nav a.selected:active {
        background-color: #A8CB17;
        color: #fff;
        border-color: #A8CB17;
      }
      header.main nav a.selected:active {
        border-color: #fff
      }

footer {
  background-color: #444;
  color: #fff;
  margin: 0 2% 2%;
  padding: 1%;
  text-align: right;
}
  footer a:link, footer a:visited { color: #000; }
  footer a:hover { color: #A8CB17; }

section.main {
  padding-top: 10.5em;
}

article.hidden {
  display: none;
}
