/*
 * Header layout
 */

header.main {
  position: relative;
  color: #fff;
  width: 96%;
  margin: 2%;
}

  hgroup.main {
    background-color: #2A4C66;
    position: relative;
  }
    hgroup.main h1, hgroup.main h2 {
      padding: .3em 0 0;
      font-size: 300%;
      text-align: center;
    }
      hgroup.main h2 {
        font-size: 180%;
        padding: 0 0 .6em;
        color: #A8CB17;
      }

    hgroup.main h3 {
      color: #c33;
      font-size: 170%;

      display: block;
      position: absolute;
      left: 1em;
      top: -.7em;

      -moz-transform: scale(1) rotate(-6deg) translate(0, 0) skew(0, 0);
      -webkit-transform: scale(1) rotate(-6deg) translate(0, 0) skew(0, 0);
      -o-transform: scale(1) rotate(-6deg) translate(0, 0) skew(0, 0);
      -ms-transform: scale(1) rotate(-6deg) translate(0, 0) skew(0, 0);
      transform: scale(1) rotate(-6deg) translate(0, 0) skew(0, 0);

      text-shadow: 2px 2px 2px #000;
    }

  header.main nav {
    position: absolute;
    top: .5em;
    right: 1em;
    text-align: right;
    width: 96%;
  }
    header.main li { display: inline-block; margin: 0 0 0 1%; }
      header.main a:link,
      header.main a:visited { color: #fff; }
      header.main a:hover { color: #A8CB17; }

  hgroup.page {
    background-color: #40627C;
    border-top: 1px solid rgba(0,0,0,0.25);
  }

    hgroup.page h1 {
      text-align: left;
      font-size: 180%;
      padding: .2em 1em;
      color: #fff;
    }

      ul#flash {
        font-size: 60%;
        font-family: "Trebuchet MS", sans-serif;
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-block;
        width: 50%;
        vertical-align: middle;
      }
        ul#flash li { color: #fff; }
        ul#flash li:before { content: '- ' }
        ul#flash li.notice { color: #A8CB17; }
        ul#flash li.error { color: #CBA817; }



/*
 * Forms Base
 */
section.feed ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


form {}

  input { padding: 1%; }
  input:focus { outline: none; }

  input[type=text],
  input[type=password] {
     -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;
          border-radius: 3px;

        -moz-box-shadow: -1px -1px 3px rgba(0,0,0,0.5);
     -webkit-box-shadow: -1px -1px 3px rgba(0,0,0,0.5);
             box-shadow: -1px -1px 3px rgba(0,0,0,0.5);

    border: none;
  }
  input[type=text]:hover, input[type=password]:hover { background-color: #fff; }
  input[type=text]:focus, input[type=password]:focus { background-color: #ffc; }

  fieldset, section.feed, #add-feed, #feed-types {
    background-color: #eee;
    margin: 0 0 2% 2%;
    width: 24.8%;
    padding: 2% 3%;
    float: left;
    display: block;
    position: relative;
  }

  dt, dd { padding: .2em 0; }
  label { padding: .5em 0; font-weight: 300; color: #999; display: inline-block; }



/*
 * Login Form
 */
fieldset.login { float: none; width: 90%; }
input.login { margin-top: 1%; }



/*
 * Feed Form
 */
section.feed input[type=text],
section.feed input[type=password] {
     -moz-box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section.feed, #add-feed, #feed-types {
  height: 6em;
}

section.feed form.delete input {
  position: absolute;
  top: .5em; right: .5em;

  padding: 0 .4em;
  background-color: transparent;
  color: #40627C;
  border: none;

  font-weight: 900;
  text-shadow: 0 -1px 1px rgba(1,1,1,.8);

     -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
          box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
  section.feed form.delete input:hover  { color: #A8CB17; }
  section.feed form.delete input:active { color: #A8CB17; top: .55em; }

.js section.feed.new,
.js #feed-types {
  display: none;
  position: relative;
  left: -25%;
}

.feed-name, .feed-info {
  border: 0;
  cursor: pointer;
  margin-left: -.5%;
  background-color: transparent;
  padding: 2%;
  width: 96%;
}
.feed-name    { font-size: 120%; }
.feed-info    { font-weight: 300; color: #999 }
.feed-default { margin-left: .5% }

#feed-types {
  list-style-type: none;
}
  #feed-types li {
    padding: 1% 2%;
    float: left;
  }
    #feed-types li#add-feed {
      float: right;
    }

#add-feed {
  font-size: 400%;
  font-weight: 900;
  height: 1.5em;
  width: 3%;
  padding: 2%;
  text-align: center;
  vertical-align: bottom;
  text-shadow: 0 -1px 1px rgba(0,0,0,.8);
}
  #add-feed:hover { color: #A8CB17; }
  #add-feed:active { color: #A8CB17; position: relative; top: 1px; }


/*
 * Account Form
 */
fieldset.account {
  width: 41%;
}

input.save-account {
  margin-left: 2%;
}



/*
 * Buttons
 */
.button, .button:visited,
a.button, a.button:visited {
  background: #97BA06 url(/img/alert-overlay.png) repeat-x; 
  display: inline-block; 
  color: #fff; 
  text-decoration: none;

  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;

  padding: .3em .5em;
  font-size: 120%;
}
  .button:hover, a.button:hover   { background-color: #A8CB17; }
  .button:active, a.button:active { top: 1px; }

/*
 * Home Page
 */

.home section.about { margin: 0 1% 0 2%; }

.home section.github { margin: 0 2% 0 1%; }

.home section.github h2 {
  color: #fff;
  background-color: #326E9C;
  padding: .5em;
}

.home article, .home ol, article.closed {
  background-color: #eee;
  padding: 1em 1%;
}

.home ol {
  list-style-type: none;
  list-style-position: inside;
  margin: 2% 0 0 0;
}

.home .github li {
  padding: .5em 1em;
}
  .home .github .avatar {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding: 2px;
    background-color: #fff;
  }

.home section.about, .home section.github {
  width: 47%;
  float: left;
}
.home article p, article.closed p {
  padding: .5em 1em;
}

.home a.button { margin-top: 2%; }



article.closed { width: 94%; margin: 0 2%; }
a.closed { margin: 2% 0 0 2%; }


/*
 * Try It Pages
 */

#steps {
  width: 92%;
  margin: 0 2%;
  padding: 0 2%;
  background-color: #eee;
}

  #steps li {
    padding: .5em 1em;
    display: inline-block;
    width: 20%
  }
    #steps li a {
      display: block;
      width: 100%;
      height: 100%;
    }

  #steps li.current { background-color: #40627C; color: #fff }

.step {
  margin: 2% 2% 0;
  width: 96%;
}
  .step dl {
    padding: .5em 1em;
    background-color: #eee;
  }

  .step .button {
    margin-top: 2%;
  }

  .step-2 #feed-types {
    display: block;
    position: static;
    margin-left: 0;
  }
  .step-2 section.feed.new {
    position: static;
    margin-left: 0;
  }
  .step-2 #add-feed { display: none; }

  .step-2 .button {
    display: none;
  }

  .step-2 .button,
  .save .button {
    clear: both;
    float: left;
    margin-top: 0;
  }

  .step-3 {}
    .step-3 a.button { margin-left: 0; float: right; }
    .step-3 #articles { margin-top: .5em; }
    .step-3 article { display: none; }

  .save fieldset {
    margin-left: 0;
  }
