%form{action: '/my-account', method: 'POST'}
  %fieldset
    %h2 Change your account settings
    %dl
      %dt
        - label(user, :name)
        = errors(user, :name)
      %dd
        - text_field(user, :name)
      %dt
        - label(user, :site_name)
        = errors(user, :site_name)
      %dd
        - text_field(user, :site_name)
      %dt
        - label(user, :domain_name)
        = errors(user, :domain_name)
      %dd
        - text_field(user, :domain_name)
  %input{type: 'submit', value: 'save', class: 'save-account button'}
