%script{type: 'text/html', id: 'article_tmpl'}
  :plain
    <article class="<%=feed_type%>">
      <header>
        <h1>
          <a href="<%=link%>"><%=title%></a>
        </h1>
        <h2>
          Source: <%=feed_name%>
          <time datetime="<%=datetime%>" pubdate><%=display_date%></time>
        </h2>
      </header>
      <section><%=content%></section>
    </article>

#articles
