%script{type: 'text/html', id: 'article_tmpl'}
  %article{class: '<%=type%>'}
    %header
      %h1
        %a{href: '<%=link%>'} <%=title%>
      %h2
        Source: <%=feed_name%>
        %time{datetime: '<%=datetime%>', pubdate: true} <%=display_date%>
    %section <%=content%>

#articles
