%section{class: "feed #{feed.new_record? ? 'new' : 'existing'} #{feed_type_class feed}", id: feed.id.to_s}
  %form{method: 'POST', action: "/my-feeds/#{feed.id}", class: 'delete'}
    %input{type: 'hidden', name: '_method', value: 'delete'}
    %input{type: 'submit', value: 'x'}

  %form{method: 'POST', action: "/my-feeds/#{feed.id}", class: 'update'}
    - hidden_field(feed, :_type)
    %ul
      %li
        - text_field(feed, :name)
      %li
        - text_field(feed, :info)
      %li
        - check_box(feed, :default)
        - label(feed, :default, 'on home page?')
