@import "constants";
section.main {
  overflow-y: auto;
}

header.main {
  nav.main {
    position: relative;

    li:first-of-type {
      text-align: center;
      background-color: $darker_brown;
      height: -20px;
      margin-top: -20px;
      border-bottom: 1em solid $darker_yellowish;

      #loading {
        visibility: hidden;
      }
    }

    li a {
      &.selected {
        background-color: $light_brown;

        &:hover {
          background-color: $darker_brown;
        }
      }

      &:hover {
        border-color: $darker_brown;
      }
    }
  }

  footer.main {
    @include box-sizing(border-box);
    width: 100%;
    padding: 1em 2em;
    text-align: center;

    a:hover {
      color: $darker_brown;
    }
  }
}
