/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override.
 */

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 640px) {
  body {
    font-size: 90%; }
  header.main {
    position: static;
    h1 {
      font-size: 3em; }
    h2 {
      font-size: 1.5em; } }
  section.main {
    padding-top: 1.5em; }
  .article {
    h1 {
      font-size: 1.5em; }
    header a {
      &:link, &:active, &:visited, &:hover {
        width: 70%;
        padding: .5em 25% .5em 5%; } }
    h2 {
      position: static;
      background-color: #eee;
      color: #444;
      margin: 0 5%;
      padding: 1em 2% 0; } }
  article {
    margin: 0 5%;
    padding-top: .5em;
    overflow: hidden; }
  footer {
    padding: 2%;
    a {
      &:link, &:visited {
        color: #ddd; } } }
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }
