/*
 * COLORS
 * 2- Darker Blue : #2A4C66
 * 1- Dark Blue: #40627C
 * 3- Light Blue: #326E9C
 * 4- Green: #A8CB17
 */

body {
  font-family: "Trebuchet MS", sans-serif;
  color: #444;
  background-color: #fff;
  font-size: 100%; }

::-moz-selection, ::selection {
  background: #A8CB17; }

a {
  &:link, &:active, &:visited, &:hover {
    color: #326E9C;
    text-decoration: none; }
  &:active, &:hover {
    color: #A8CB17; } }

h1 {
  font-size: 3em;
  text-align: center; }

h2 {
  font-size: 3em;
  text-align: center;
  font-size: 1.8em; }

h1, h2, h3, .button {
  font-family: 'Neuton', serif; }

.rounded, fieldset, section.feed, .button, article a, section.feed input, #add-feed, #feed-types, #steps, .step-1 dl, .step-2 dl, .step-3 dl {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.home {
  article {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  section.github {
    h2, ol {
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; } } }

article.closed, footer {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.rounded-top, hgroup.main {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0; }

.rounded-bottom, hgroup.page, nav.main {
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px; }

.shadow, fieldset {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

hgroup {
  &.main, &.page {
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); } }

section.feed, .button, nav.main, article a, section.feed input, #add-feed, #feed-types, #steps, .step-1 dl, .step-2 dl, .step-3 dl {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

.home {
  article {
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
  section.github {
    h2, ol {
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); } } }

article.closed, footer {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
