@import "constants";

html {
  overflow-y: hidden;
}

body {
  @include sans-serif-font();
  color: $dark;
  background-color: $light;
  font-size: .9em;
  line-height: 1.5em;
  overflow-x: hidden;
}

::-moz-selection, ::selection {
  background: $green;
}

a {
  &:link, &:active, &:visited, &:hover {
    color: $light_brown;
    text-decoration: none;
  }

  &:active, &:hover {
    color: $green;
  }
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.5em;
}

h1, h2, h3, .button {
  @include serif-font();
  line-height: 120%;
}

header.main {
  width: 100%;
  height: $column-height;
  position: relative;
  color: $light;
  background-color: $darker_yellowish;
  /*border-right: 2px solid $dark_brown;*/
  overflow: hidden;

  @include column(3);
  @include box-sizing(border-box);
  @include box-shadow();

  hgroup {
    padding: 2em;
    background-color: $darker_brown;

    &.main { font-size: 120%; }

    &.page {
      padding: 1em 2em;
      background-color: $light_brown;

      h1, h2 { text-align: left; }
    }

    h2 { color: $green; }
  }

  nav.main {
    li a {
      display: block;
      padding: 1em 2em;
      text-align: left;
      color: $light;

      &:link, &:visited, &:hover { color: $light; }
      &.current { background-color: $dark_brown; }
      &:hover { background-color: $darker_brown; }
    }
  }
}

section.main {
  @include column(9);
  @include box-sizing(border-box);

  h2 {
    margin-bottom: 2em;
  }

  > section, > form {
    @include small-column();

    &:first-of-type {
      @include first-column();
    }
  }
}
