@import "constants";

article {
  padding-bottom: 1em;
  padding-left: 1em;
  @include column(6);
  @include box-sizing(border-box);

  &.hidden {
    display: none;
  }

  header {
    color: $light;
    position: relative;
  }

  h1 {
    text-align: left;
    font-size: 1.5em;
  }

  header a {
    &:link, &:active, &:visited {
      @include box-sizing(border-box);
      border-left: .7em solid $darker_brown;
      background-color: $dark_brown;
      display: inline-block;
      padding: .5em 7em .5em 1em;
      min-height: 2.8em;
      width: 100%;
      color: #fff;
    }

    &:hover {
      background-color: $darker_brown;
      border-color: $dark_brown;
    }

    &:active {
      background-color: $green;
    }
  }

  h2 {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1em;
    text-align: right;
    margin: 0 2%;

    time {
      display: block;
    }
  }

  section {
    padding: 1em;
    background-color: $yellowish;
    overflow: hidden;

    p, li, object, pre {
      line-height: 1.5em;
      margin-bottom: 1em;
    }

    code {
      font-size: 95%;
      font-family: 'Source Code Pro' Sans-Serif;
    }

    ul {
      list-style-type: disc;
    }

    em {
      color: $dark_brown;
      font-weight: 900;
    }

    a.gist {
      margin-bottom: 1em;
      display: inline-block;
    }

    img, object {
      max-width: 100%;
    }
  }

  &.flickr {
    section {
      text-align: center;
    }
  }
}
