@import "constants";

section.main {
  .github {
    ol {
      list-style-type: none;
      line-height: 30px;
      margin: 0;
      margin-bottom: 2em;

      li { padding: .5em; }

      img {
        vertical-align: middle;
        width: 30px;
        height: 30px;
      }
    }
  }
}

form {
  dl {
    width: 100%;
    margin-bottom: 2em;

    dt {
      height: 1.5em;

      label {
        line-height: 1.5em;
        vertical-align: middle;
      }
    }

    dd {
      margin-bottom: 1em;
    }

    dd.check_box {
      float: left;
      line-height: 1.5em;
      vertical-align: middle;
      margin-right: .5em;
    }
  }

  select, input, textarea, button {
    font-size: 90%;
  }

  input[type=text],
  input[type=password],
  textarea {
    padding: .5em;
    border: 1px solid #aaa;
    @include border-radius(.3em);
    @include box-shadow($light_brown 1px 1px 2px inset);

    &:focus { outline: none; border: 1px solid $dark_brown; }
  }

  .chzn-container {
    font-size: 100%;
    line-height: 110%;
  }

  .chzn-container-active .chzn-single {
    border-color: $dark_brown;
  }
}

.button, .button:link, .button:hover, .button:visited {
  display: inline-block;
  background-color: $green;
  color: $light;
  @include box-shadow();
  border: none;
  @include border-radius(1.5em);
  font-size: 110%;
  padding: .5em 1em;
  @include text-shadow();

  &:hover {
    background-color: $yellow;
  }

  &:active:hover {
    @include box-shadow(none);
    border: 2px solid $yellow
  }
}

dl.feed {
  position: relative;
  margin-bottom: 2em;
  background-color: $yellowish -#111;
  @include border-radius(.3em);
  @include box-shadow($light_brown 1px 1px 2px);

  > dt {
    padding: 1em;
    cursor: pointer;
  }

  > dd {
    display: none;
    padding: 1em;

    dl {
      margin-bottom: 1em;
    }

    form.delete {
      display: none;
      position:absolute;
      bottom: 1em;
      left: 7em;

      input {
        font-size: 150%;
        padding: .25em .75em;
        font-family: 'Pictos';
        background-color: $red;
      }
    }

    &.expanded {
      form.delete {
        display: block;
      }
    }
  }
}
