%article.closed
  %p
    Subscriptions are closed at the moment.
  %p
    In the meantime you can check <a href="http://twitter.com/its_damo">my twitter</a> to get updated!

%a.button.closed{href: 'http://twitter.com/its_damo'} my twitter
