%ol#steps
  %li.done
    %a{ href: '/try-it/step-1' } step 1
  %li.done
    %a{ href: '/try-it/step-2' } step 2
  %li.done
    %a{ href: '/try-it/step-3' } step 3
  %li.current save!

%section.step.save

  %form{ method: 'POST', action: '/try-it/save' }
    %fieldset
      %legend Last Details

      %dl
        %dt
          - label visitor, :username
          = errors visitor, :name
        %dd
          - text_field visitor, :username
        %dt
          - label visitor, :password
          = errors visitor, :password
        %dd
          - password_field visitor, :password
        %dt
          - label visitor, :password_confirmation
          = errors visitor, :password_confirmation
        %dd
          - password_field visitor, :password_confirmation

    %input.button{ type: 'submit', value: 'save!' }
