%ol#steps
  %li.done
    %a{ href: '/try-it/step-1' } step 1
  %li.done
    %a{ href: '/try-it/step-2' } step 2
  %li.current step 3
  %li save!

%section.step.step-3

  %a.button.right{ href: '/try-it/save' } save

  %h1= visitor.site_name

  %ul#articles
